* {
	margin: 0px;
		
}

body {
	background: rgba(209, 239, 245, 0.6);
}

div#header {
	width: 100%;
	text-align: center;
	background-image: url('../img/bg_top.png');
	background-position: top center;
}

img#logo {
	border: 0px;
	margin: 0px auto;
}

div#content {
	margin-top: 25px;
}

div#box {
	margin: auto;
	width: 960px;
	height: 450px;
}

#box img {
	z-index: -3;
	
}
.skin-slidedeck dl.slidedeck h1#one {
	color: #3c4ace;
}

.skin-slidedeck dl.slidedeck h1#two {
	color: #e44048;
} 

.skin-slidedeck dl.slidedeck h1#three {
	color: #c329d5;
}

.skin-slidedeck dl.slidedeck h1#four {
	color: #d57337;
}

.skin-slidedeck dl.slidedeck h1#five {
	color: #e0cf14;
}
  

.detail {
	margin-left: 15px;
}


img.detail {
	width: 200px;
	height: 126px;
	border: 3px #CCC solid;
	margin-right: 15px;
	margin-top: 15px;
	float: left;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

img.detail.big {
	margin-right: 0px;
	margin-top: auto;
	text-align: center;
	width: 575px;
	height: 150px;
	float: none;
}

.field {
	font-family: 'Amatic SC', cursive, sans-serif;
	font-weight: 700;
	font-size: 1.5em;
	line-height: 1.5em;
}

.description {
	font-family: 'Amatic SC', cursive, sans-serif;
	text-decoration: underline;
	font-weight: 400;
	font-size: 1.5em;
	color: #081c66;
	line-height: 1.5em;
	
}
.plate {
	margin-left: 235px;
}

.lastDesc {
	margin-top: 20px;
	text-decoration: none;
}

.lastDescFirst {
	margin-top: 0px;
	text-decoration: none;
}
#social {
	text-align: center;
	margin: 60px ;
}

#social a {
	text-decoration: none;
}

social img {
	border: 0px;
}

social img #twitter {
	position: relative;
	top: 2px;
}

.logos {
	text-align: center;
	width: 100%;
	margin-top: 80px;
}

.logos img {
	border: 0px;
}

.logos a{
	text-decoration: none;
}