/****************************************
*
* $filename: index.css
* $author: Simone Kalb
* $email: kalb@crs4.it
* $date: 10/28/2011
*
*****************************************/

* {
	margin: 0px;
}

body {
	background-color: #FFF;
}

div#mainContainer {
	position: relative;
	width: 920px;
	margin: auto;
	height: 719px;
	background-image: url('../img/bg.png');
	background-position: top center;
	background-repeat: no-repeat;
	border: 25px #f9c002 solid;
	border-bottom: 0px;
}

div.label {
	position: relative;
	left: -145px;
	top: 15px;
	float: left;
	z-index: 999;
	cursor: pointer;
}

div#corners {
	position: relative;
	top: -4px;
}

#top_right_corner{
	position: absolute;
	left: 0px;
}

#top_left_corner{
	position: absolute;
	right: -3px;
}

#photo_group {
	position: absolute;
	top: 203px;
	left: 50%;
	z-index: 1;
}

img#logo {
	margin-left: auto; 
	border: 0px;
	margin: 0px auto;
	z-index: 2;
}

img#logos_bg{
	position: relative;
	top: 4px;
	left: -28%;
}

.field {
	font-family: 'Terminal Dosis', sans-serif;
	font-weight: 700;
	font-size: 1.5em;
	line-height: 1.5em;
	color: #dd3939;
}

.description {
	font-family: 'Terminal Dosis', sans-serif;
	text-decoration: none;
	font-weight: 400;
	font-size: 1.5em;
	color: #081c66;
	line-height: 1.5em;
}

#social {	
	background: #e8e8e8;
	text-align: center;
	margin-left: -104px;
}

#social a {
	text-decoration: none;
}

#social img {
	border: 0px;
}

#social img #twitter {
	position: relative;
	top: 2px;
}

.logos {
	text-align: center;
	width: 100%;
	margin-top: 80px;
}

.logos img {
	border: 0px;
	vertical-align: middle;
}

.logos a{
	text-decoration: none;
}

ul{
	background-image: url('img/tab_home.png') center center;
	list-style-type: none;
	font-family: 'Chivo', sans-serif;
	font-size: 14px;
	color: #f9c002;
	font-weight: 800;
	
}
li {
	float: left;
	display: block;
	margin-right: 10px;
}

div.picture {
	width: 381px;
	height: 232px;
	position: absolute;
	top: 385px;
	border: 15px #f9c002 solid;
	background-color:#FFF;
	opacity:0.7;
	filter:alpha(opacity=70); /* For IE8 and earlier */
	font-family: 'Chivo', sans-serif;
	font-size: 10px;
	text-align: left;
	padding: 10px;
	letter-spacing: 1px;
	display: none;
	margin-left: -15px;
}

div.picture .field {
	color: #f9c002;
	font-weight: 800;
}

div.picture .description{
	font-weight: 600;
}

div.picture .lastDesc {
	line-height: 1.2em;
	letter-spacing: 1.5px;
	margin-top: 11px;
	text-decoration: none;
}

div.picture.description.intro {
	font-size: 1.1em;
}

div.picture.description.intro a, a:hover, a:visited, a:active {
	color: #334e0e;
	text-decoration: none;
}

div.picture.description.credits a, a:hover, a:visited, a:active {
	color: #334e0e;
	text-decoration: none;
}


div.footer {
	top: 322px;
	background: #e8e8e8 url('../img/footer_bg.png') repeat-x;
	width: 100%;
	height: 125px;
}

div.footer img{
	z-index: 1;
	margin-left: 20px;
	margin-top: 20px;
	top: 0;	
	vertical-align: middle;
	border: none;
}

div.footer img#home, img#credits img#video{
	vertical-align: top;
	z-index: 999;
	cursor: pointer;
}

div.footer div#buttons {
	background: #E8E8E8;
	position: absolute;
	right: 16%;
	padding: 9px;
}