* {
	margin: 0px;
		
}

body {
	background: rgba(209, 239, 245, 0.6);
}

div#header {
	width: 100%;
	text-align: center;
	background-image: url('../img/bg_top.png');
	background-position: top center;
}

img#logo {
	border: 0px;
	margin: 0px auto;
}

div#content {
	margin-top: 25px;
}

div#box {
	margin: auto;
	width: 960px;
	height: 450px;
	border: none;
	outline: none;	
}

#box img {
	z-index: -3;
}

#box a a:hover a:active a:visited {
	text-decoration: none;
	border: none;
	outline: none;
}

.skin-slidedeck dl.slidedeck #leo {
	color: #3c4ace;
}

.skin-slidedeck dl.slidedeck #leo.active {
	color: #FFF;
}


.skin-slidedeck dl.slidedeck #tilde {
	color: #e44048;
} 

.skin-slidedeck dl.slidedeck #tilde.active {
	color: #FFF;
}

.skin-slidedeck dl.slidedeck #albert {
	color: #0c831d;
}

.skin-slidedeck dl.slidedeck #albert.active {
	color: #FFF;
}

.skin-slidedeck dl.slidedeck #pixel {
	color: #fc9004;
}

.skin-slidedeck dl.slidedeck #pixel.active {
	color: #FFF;
}

.skin-slidedeck dl.slidedeck #robocat {
	color: #e0cf14;
}

.skin-slidedeck dl.slidedeck #robocat.active {
	color: #FFF;
}
  

.detail {
	margin-left: 15px;
}


img.detail {
	width: 200px;
	height: 126px;
	border: 3px #CCC solid;
	margin-right: 15px;
	margin-top: 15px;
	float: left;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

img.detail.big {
	margin-right: 0px;
	margin-top: auto;
	text-align: center;
	width: 500px;
	height: 150px;
	float: none;
}

.field {
	font-family: 'Amatic SC', cursive, sans-serif;
	font-weight: 700;
	font-size: 1.5em;
	line-height: 1.5em;
	color: #dd3939;
}

.description {
	font-family: 'Amatic SC', cursive, sans-serif;
	text-decoration: none;
	font-weight: 400;
	font-size: 1.5em;
	color: #081c66;
	line-height: 1.5em;
}

.description a {
	text-decoration: none;
}

.description a:active a:hover {
	color: #39c3dd;
}

.description a:visited {
	color: #dd3939;
}

.description span {
	color: #dd3939;
}

.description p{
	margin-bottom: 10px;
}

.description p a:active a:hover a:visited {
	color: #dd3939;
}

.plate {
	margin-left: 235px;
}

.lastDesc {
	letter-spacing: 1.5px;
	margin-top: 20px;
	text-decoration: none;
}

.firstPage {
	margin-left: 17px;
}

#social {
	text-align: center;
	margin: 60px ;
}

#social a {
	text-decoration: none;
}

#social img {
	border: 0px;
}

#social img #twitter {
	position: relative;
	top: 2px;
}

.logos {
	text-align: center;
	width: 100%;
	margin-top: 80px;
}

.logos img {
	border: 0px;
	vertical-align: middle;
}

.logos a{
	text-decoration: none;
}